@page
@model GroupCCP.Pages.site.Report.OCRModel
@{
}

<table>
    <thead>

    </thead>
    <tbody>
        <tr></tr>
        <tr>
            <td colspan="6"><h1>OCR For General Complaint Handling</h1></td>
            <td colspan="4"></td>
            <td colspan="4"></td>
            <td colspan="6" rowspan="2" class="table-bordered">Note: All Area's in white must be completed by Branch / Dealer Department Manager</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="16"><h1>OWNER CONTACT REPORT</h1></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td>
            <td class="table-bordered">Ref. No.</td>
            <td class="table-bordered"></td>
            <td colspan="2"></td>
            <td>Initial</td>
            <td>Update</td>
            <td>Final</td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr></tr>
        <tr class="table-bordered">
            <td></td>
            <td>Distributor</td>
            <td colspan="2">Branch/Dealer</td>
            <td colspan="2">Department</td>
            <td colspan="2">Official Vehicle</td>
            <td colspan="2" rowspan="2">Receipt Date of Customer Complaint:</td>
            <td colspan="2" rowspan="2"></td>
            <td rowspan="2">Date OCR Sent to Distributor</td>
            <td rowspan="2">7 STEPS Complaint Process</td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td></td>
            <td colspan="6" class="table-bordered">CUSTOMER INFORMATION</td>
            <td colspan="7" class="table-bordered">VEHICLE INFORMATION</td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td rowspan="2"></td>
            <td rowspan="2">Name:</td>
            <td rowspan="2" colspan="5"></td>
            <td rowspan="2">Model Year:</td>
            <td rowspan="2" colspan="2"></td>
            <td rowspan="2" >Model:</td>
            <td rowspan="2" colspan="3"></td>
            <td rowspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="4">Address</td>
            <td rowspan="4" colspan="5"></td>
            <td rowspan="2">VIN:</td>
            <td rowspan="2" colspan="6"></td>
            <td rowspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="2">Mileage</td>
            <td rowspan="2"></td>
            <td colspan="2">KM</td>
            <td rowspan="2">Date Purchased</td>
            <td colspan="2" rowspan="2"></td>
            <td rowspan=2></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td>Tel:</td>
            <td colspan="2"></td>
            <td>Company</td>
            <td colspan="2"></td>
            <td colspan="2">Reg Number</td>
            <td colspan="2">Date of Last Service</td>
            <td colspan="3">Staff Member dealing with Complaint</td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td>Email:</td>
            <td colspan="5"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="3"></td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td></td>
            <td colspan="14">SUBJECT *Summary of customer’s complaint and request(s)</td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td rowspan="3"></td>
            <td rowspan="3">Complaint:</td>
            <td rowspan="3" colspan="13"></td>
            <td rowspan="3"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr class="table-bordered">
            <td rowspan="3"></td>
            <td rowspan="3">Request:</td>
            <td rowspan="3" colspan="13"></td>
            <td rowspan="3"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr class="table-bordered">
            <td></td>
            <td colspan="14">REMARKS *Information included that identified type of customer</td>
            <td></td>
        </tr>
        
        <tr class="table-bordered">
            <td rowspan="3"></td>
            <td rowspan="3">Customer occupation, background or relationship with Toyota:</td>
            <td rowspan="3" colspan="13"></td>
            <td rowspan="3"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr class="table-bordered">
            <td></td>
            <td colspan="14">BACKGROUND OF THE CASE * Description given of what happened up including when distributor/dealer did go and see activity and phenomenon of customer’s vehicle</td>
            <td></td>
        </tr>
        <tr class="table-bordered">
            <td rowspan="2">Has the vehicle / customer come in for an onsite fact Check?</td>
            <td></td>
            <td>Date</td>
            <td>Date</td>
            <td colspan="9">Product Component</td>
            <td rowspan="2"></td>
        </tr>
        <tr class="table-bordered">
            <td></td>
            <td></td>
            <td></td>
            <td colspan="9"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2"></td>
            <td rowspan="2">Sub Component</td>
            <td colspan="8" rowspan="2"></td> 
            <td rowspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td colspan="14">CAUSE OF PROBLEM *Description given of further investigation results and level of responsibility</td>
            <td></td>
        </tr>

    </tbody>
</table>
