@page
@model GroupCCP.Pages.site.Admin.FollowUps.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}

<h1>Edit</h1>

<h4>ComplaintFollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComplaintFollowUp.FollowUpId" />
            <div class="form-group">
                <label asp-for="ComplaintFollowUp.LogId" class="control-label"></label>
                <select asp-for="ComplaintFollowUp.LogId" class="form-control" asp-items="ViewBag.LogId"></select>
                <span asp-validation-for="ComplaintFollowUp.LogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintFollowUp.StaffId" class="control-label"></label>
                <select asp-for="ComplaintFollowUp.StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                <span asp-validation-for="ComplaintFollowUp.StaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintFollowUp.FollowUpTypeId" class="control-label"></label>
                <select asp-for="ComplaintFollowUp.FollowUpTypeId" class="form-control" asp-items="ViewBag.FollowUpTypeId"></select>
                <span asp-validation-for="ComplaintFollowUp.FollowUpTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintFollowUp.FollowUpDate" class="control-label"></label>
                <input asp-for="ComplaintFollowUp.FollowUpDate" class="form-control" />
                <span asp-validation-for="ComplaintFollowUp.FollowUpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintFollowUp.FollowUpFeedback" class="control-label"></label>
                <input asp-for="ComplaintFollowUp.FollowUpFeedback" class="form-control" />
                <span asp-validation-for="ComplaintFollowUp.FollowUpFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
