@page
@model GroupCCP.Pages.ComplaintAssignments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ComplaintAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComplaintAssignment.AssignmentId" />
            <div class="form-group">
                <label asp-for="ComplaintAssignment.StaffAssigned" class="control-label"></label>
                <select asp-for="ComplaintAssignment.StaffAssigned" class="form-control" asp-items="ViewBag.StaffAssigned"></select>
                <span asp-validation-for="ComplaintAssignment.StaffAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintAssignment.LogId" class="control-label"></label>
                <select asp-for="ComplaintAssignment.LogId" class="form-control" asp-items="ViewBag.LogId"></select>
                <span asp-validation-for="ComplaintAssignment.LogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintAssignment.AssignmentDate" class="control-label"></label>
                <input asp-for="ComplaintAssignment.AssignmentDate" class="form-control" />
                <span asp-validation-for="ComplaintAssignment.AssignmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
