@page
@model GroupCCP.Pages.site.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageTitle"] = "Dashboard";
    Layout = "/Pages/Shared/_SystemLayout.cshtml";
}


@Html.DisplayFor(model => model.Company.Group.GroupName)
<h1>Index</h1>

