@page
@model GroupCCP.Pages.site.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["PageTitle"] = Model.PageTitle;
    Layout = "/Pages/Shared/_SystemLayout.cshtml";
}

<div class="container-fluid card">
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComplaintCustomerInfo.CustomerName" class="control-label"></label>
                <input asp-for="ComplaintCustomerInfo.CustomerName" class="form-control" />
                <span asp-validation-for="ComplaintCustomerInfo.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintCustomerInfo.CustomerCell" class="control-label"></label>
                <input asp-for="ComplaintCustomerInfo.CustomerCell" class="form-control" />
                <span asp-validation-for="ComplaintCustomerInfo.CustomerCell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintCustomerInfo.CustomerNumber" class="control-label"></label>
                <input asp-for="ComplaintCustomerInfo.CustomerNumber" class="form-control" />
                <span asp-validation-for="ComplaintCustomerInfo.CustomerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintCustomerInfo.CompanyId" class="control-label"></label>
                <select asp-for="ComplaintCustomerInfo.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
