@page
@model GroupCCP.Pages.site.Admin.Timeline.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_SystemLayout.cshtml";
}

<h1>Create</h1>

<h4>Timelines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Timelines.PriorityId" class="control-label"></label>
                <select asp-for="Timelines.PriorityId" class ="form-control" asp-items="ViewBag.PriorityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueAssignedHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueAssignedHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueAssignedHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueAssignedReminderHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueAssignedReminderHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueAssignedReminderHrs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Timelines.OverdueAssignedEscallate" /> @Html.DisplayNameFor(model => model.Timelines.OverdueAssignedEscallate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueResolvedHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueResolvedHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueResolvedHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueResolvedReminderHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueResolvedReminderHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueResolvedReminderHrs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Timelines.OverdueResolvedEscallate" /> @Html.DisplayNameFor(model => model.Timelines.OverdueResolvedEscallate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueResolvedClosedHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueResolvedClosedHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueResolvedClosedHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueResolvedClosedReminderHrs" class="control-label"></label>
                <input asp-for="Timelines.OverdueResolvedClosedReminderHrs" class="form-control" />
                <span asp-validation-for="Timelines.OverdueResolvedClosedReminderHrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.OverdueClosedEscallate" class="control-label"></label>
                <input asp-for="Timelines.OverdueClosedEscallate" class="form-control" />
                <span asp-validation-for="Timelines.OverdueClosedEscallate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelines.CompanyId" class="control-label"></label>
                <select asp-for="Timelines.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
