@page
@model GroupCCP.Pages.RoleAssignments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoleAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleAssignment.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleAssignment.Staff.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleAssignment.Roles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleAssignment.Roles.RoleId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RoleAssignment.RoleAssignmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
