@page
@model GroupCCP.Pages.ComplaintLogDetails.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ComplaintLogDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogCustomerId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.LogCustomerId" class ="form-control" asp-items="ViewBag.LogCustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.CustomerComplaint" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.CustomerComplaint" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.CustomerComplaint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.CustomerRequest" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.CustomerRequest" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.CustomerRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.VehicleId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.VehicleMileage" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.VehicleMileage" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.VehicleMileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogMeansId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.LogMeansId" class ="form-control" asp-items="ViewBag.LogMeansId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogLevelId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.LogLevelId" class ="form-control" asp-items="ViewBag.LogLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.VehicleOnSite" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.VehicleOnSite" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.VehicleOnSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogStatusId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.LogStatusId" class ="form-control" asp-items="ViewBag.LogStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.StaffId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.StaffId" class ="form-control" asp-items="ViewBag.StaffId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.PriorityId" class="control-label"></label>
                <select asp-for="ComplaintLogDetail.PriorityId" class ="form-control" asp-items="ViewBag.PriorityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.StatusSubmitDate" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.StatusSubmitDate" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.StatusSubmitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.StatusClosedDate" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.StatusClosedDate" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.StatusClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ComplaintLogDetail.LogCustomerSatisfied" /> @Html.DisplayNameFor(model => model.ComplaintLogDetail.LogCustomerSatisfied)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogPreventiveAction" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.LogPreventiveAction" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.LogPreventiveAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogKaizenAction" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.LogKaizenAction" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.LogKaizenAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintLogDetail.LogKaizenImplememntDate" class="control-label"></label>
                <input asp-for="ComplaintLogDetail.LogKaizenImplememntDate" class="form-control" />
                <span asp-validation-for="ComplaintLogDetail.LogKaizenImplememntDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
