@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="text-center" style="padding-top: 200px">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Customer Complaint Portal</p>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">
                <ul class="navbar-nav nav-fill w-100">
                    @foreach (var item in Model.StaffAccount)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="site/Index" asp-route-CompanyId="@item.Company.CompanyId">@Html.DisplayFor(modelItem => item.Company.CompanyName)</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>
